.img-fluid {
	object-fit: contain;
	margin: 0 0 20px 0px;
}


form {
	padding: 10px;
	overflow: visible;
}


h1 {
	color: #FF652F;
}


p {
	color: #747474;
}


h2 {
	color: #747474;
}


h3 {
	color: #FF652F;
}


h5 {
	color: #747474;
}


a {
	color: #FF652F;
}


body {
	background-color: #272727;
}