<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='header.css') }}">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>
		<header class="header">
			<span class="title">Car Catalog App</span>
			{% if username not in login_session %}
				<a href='{{url_for('login')}}'>
				<button class="btn btn-default delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
				</a>
				<span class="login">Login button Here</span>
			{% else %}
				<span class="logout">Logout Button Here</span>

		</header>
	</body>
</html>