{% extends "main.html" %}
{% block content %}
		<div class="row">
			{% for model in models %}
			<div class="col-sm-3 col-md-4 col-lg-4">
				<a href="{{url_for('showModel',brand_id=brand.id, model_id=model.id)}}">
					<h3>{{model.name}}</h3>
				</a>
				
			</div>
			<div class="col-sm-9 col-md-8 col-lg-5 mx-auto image">
				<a href="{{url_for('showModel',brand_id=brand.id, model_id=model.id)}}">
					<img class="img-fluid" src="{{url_for('static',filename=('images/'+model.image))}}" alt="Model Image">					
				</a>				

			</div>
			{% endfor %}
		</div>
{% endblock %}